/results/media-content/
/results/multi-claim[sk]/
/datasets/MultiClaim v2/
/datasets/MultiClaim v2/fact_check_post_mapping.csv
/datasets/MultiClaim v2/fact_checks.csv
/datasets/MultiClaim v2/posts.csv
/datasets/multi-claim.csv
/results/multi-claim[sk]/
/models/
